.register_Teacher-pageDiv {
  min-height: 120vh;
  height: 100%;
}

.register_Teacher-mainDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 50px;
}

.TeacherRegisterForm {
  font-size: 40px;
}
