* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginMainDiv {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formLoginDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  padding: 50px;
  border: 1px solid black;
  text-align: left;
}
